@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --white: hsl(0, 0%, 100%);
  --very-light-gray: hsl(0, 0%, 98%);
  --grey: grey;

  --title-font-size: 2rem;
}

img {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
header {
  height: 62px;
  display: flex;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
/* Mobile Nav --- */
.mobile-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.desktop-nav {
  display: none; /* Hide desktop nav*/
}
/* --- Mobile Nav */

/* Main Sections --- */
.hero-image {
  background: url("./images/bg-intro-mobile.svg") center/contain no-repeat;
  margin-top: calc(-35.5%);
}
.desktop-hero-container {
  display: none; /* Hide desktop hero container in mobile view */
}

section:not(.hero-image) {
  padding: 3rem 1.5rem;
}

.hero-writeup {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.hero-writeup p:nth-of-type(1) {
  font-size: var(--title-font-size);
}
.hero-writeup p:nth-of-type(2) {
  color: var(--grey);
}

.features {
  background-color: var(--light-grayish-blue);
  margin-top: 2.5rem;
  text-align: center;
}
.features-title {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.features-title p:nth-of-type(1) {
  font-size: var(--title-font-size);
}
.features-title p:nth-of-type(2) {
  color: var(--grey);
}

.features-cards {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
}

.features-card {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.feature-icon {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.features-card h3 {
  font-weight: normal;
}
.features-card p {
  color: var(--grey);
}

.articles {
  margin-top: 2rem;
}

.articles h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
}
.articles-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.article {
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
}
.article-image img {
  border-radius: 8px 8px 0 0;
}
.article-body {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  margin-left: 1.5rem;
}
.article-body p:nth-child(odd) {
  color: var(--grey);
}
.article-body p:nth-child(1) {
  font-size: 0.8rem;
}
.article-body h3 {
  font-weight: normal;
}
.article-body p:nth-child(3) {
  font-size: 1rem;
}
/* --- Main Sections */

/* Footer --- */
footer {
  margin-top: 2rem;
  padding: 2.5rem 1.5rem;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color: var(--white);
}

.footer-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.footer-social-icons {
  display: flex;
  column-gap: 1rem;
}
.footer-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}
.footer-text-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.footer-text-list li a {
  text-decoration: none;
  color: var(--white);
}
.footer-cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
small {
  color: var(--grey);
}
.author-link {
  color: var(--white);
}
/* --- Footer */

/* Desktop Responsiveness */
@media screen and (min-width: 800px) {
  /* Deskto Nav --- */
  header {
    height: auto;
  }
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .desktop-nav-links {
    display: flex;
    column-gap: 1.3rem;
  }
  .desktop-nav-links li a {
    text-decoration: none;
    color: var(--grey);
  }
  /* --- Desktop Nav */

  /* Main Sections --- */
  .mobile-hero-container {
    display: none;
  }
  .desktop-hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .hero-image {
    background: url("./images/bg-intro-desktop.svg") 0px / contain no-repeat;
    margin-top: calc(-7.65%);
    margin-right: -11%;
  }
  .hero-writeup {
    max-width: 500px;
    text-align: left;
  }
  /* --- Main Sections */
}

/* Preset styles */
button {
  border-radius: 50px;
  padding: 0.8rem 2rem;
  margin: 0 auto;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(to right, var(--lime-green), var(--grayish-blue));
  cursor: pointer;
}
